.dark-medium-contrast {
  --md-sys-color-primary: rgb(172 235 186);
  --md-sys-color-surface-tint: rgb(151 213 165);
  --md-sys-color-on-primary: rgb(0 45 19);
  --md-sys-color-primary-container: rgb(99 158 114);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(204 226 205);
  --md-sys-color-on-secondary: rgb(24 42 28);
  --md-sys-color-secondary-container: rgb(129 150 131);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(184 228 239);
  --md-sys-color-on-tertiary: rgb(0 42 50);
  --md-sys-color-tertiary-container: rgb(109 151 162);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(16 21 16);
  --md-sys-color-on-background: rgb(223 228 220);
  --md-sys-color-surface: rgb(16 21 16);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(65 73 65);
  --md-sys-color-on-surface-variant: rgb(215 223 212);
  --md-sys-color-outline: rgb(172 180 171);
  --md-sys-color-outline-variant: rgb(138 146 138);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(223 228 220);
  --md-sys-color-inverse-on-surface: rgb(38 43 38);
  --md-sys-color-inverse-primary: rgb(22 82 46);
  --md-sys-color-primary-fixed: rgb(178 241 191);
  --md-sys-color-on-primary-fixed: rgb(0 21 7);
  --md-sys-color-primary-fixed-dim: rgb(151 213 165);
  --md-sys-color-on-primary-fixed-variant: rgb(0 63 30);
  --md-sys-color-secondary-fixed: rgb(210 232 211);
  --md-sys-color-on-secondary-fixed: rgb(4 21 9);
  --md-sys-color-secondary-fixed-dim: rgb(182 204 184);
  --md-sys-color-on-secondary-fixed-variant: rgb(40 58 44);
  --md-sys-color-tertiary-fixed: rgb(190 234 246);
  --md-sys-color-on-tertiary-fixed: rgb(0 20 25);
  --md-sys-color-tertiary-fixed-dim: rgb(162 206 217);
  --md-sys-color-on-tertiary-fixed-variant: rgb(10 60 69);
  --md-sys-color-surface-dim: rgb(16 21 16);
  --md-sys-color-surface-bright: rgb(65 70 64);
  --md-sys-color-surface-container-lowest: rgb(5 8 5);
  --md-sys-color-surface-container-low: rgb(26 31 26);
  --md-sys-color-surface-container: rgb(36 41 36);
  --md-sys-color-surface-container-high: rgb(47 52 47);
  --md-sys-color-surface-container-highest: rgb(58 63 58);
}
