.dark-high-contrast {
  --md-sys-color-primary: rgb(192 255 204);
  --md-sys-color-surface-tint: rgb(151 213 165);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(147 209 161);
  --md-sys-color-on-primary-container: rgb(0 15 4);
  --md-sys-color-secondary: rgb(224 246 224);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(179 200 180);
  --md-sys-color-on-secondary-container: rgb(1 14 4);
  --md-sys-color-tertiary: rgb(212 246 255);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(158 202 213);
  --md-sys-color-on-tertiary-container: rgb(0 13 17);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(16 21 16);
  --md-sys-color-on-background: rgb(223 228 220);
  --md-sys-color-surface: rgb(16 21 16);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(65 73 65);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(234 242 232);
  --md-sys-color-outline-variant: rgb(189 197 187);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(223 228 220);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(22 82 46);
  --md-sys-color-primary-fixed: rgb(178 241 191);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(151 213 165);
  --md-sys-color-on-primary-fixed-variant: rgb(0 21 7);
  --md-sys-color-secondary-fixed: rgb(210 232 211);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(182 204 184);
  --md-sys-color-on-secondary-fixed-variant: rgb(4 21 9);
  --md-sys-color-tertiary-fixed: rgb(190 234 246);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(162 206 217);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 20 25);
  --md-sys-color-surface-dim: rgb(16 21 16);
  --md-sys-color-surface-bright: rgb(76 81 76);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(28 33 28);
  --md-sys-color-surface-container: rgb(45 50 45);
  --md-sys-color-surface-container-high: rgb(56 61 55);
  --md-sys-color-surface-container-highest: rgb(67 72 67);
}
