.dark {
  --md-sys-color-primary: rgb(151 213 165);
  --md-sys-color-surface-tint: rgb(151 213 165);
  --md-sys-color-on-primary: rgb(0 57 26);
  --md-sys-color-primary-container: rgb(20 81 45);
  --md-sys-color-on-primary-container: rgb(178 241 191);
  --md-sys-color-secondary: rgb(182 204 184);
  --md-sys-color-on-secondary: rgb(34 53 38);
  --md-sys-color-secondary-container: rgb(56 75 60);
  --md-sys-color-on-secondary-container: rgb(210 232 211);
  --md-sys-color-tertiary: rgb(162 206 217);
  --md-sys-color-on-tertiary: rgb(1 54 63);
  --md-sys-color-tertiary-container: rgb(32 77 86);
  --md-sys-color-on-tertiary-container: rgb(190 234 246);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(16 21 16);
  --md-sys-color-on-background: rgb(223 228 220);
  --md-sys-color-surface: rgb(16 21 16);
  --md-sys-color-on-surface: rgb(223 228 220);
  --md-sys-color-surface-variant: rgb(65 73 65);
  --md-sys-color-on-surface-variant: rgb(193 201 191);
  --md-sys-color-outline: rgb(139 147 138);
  --md-sys-color-outline-variant: rgb(65 73 65);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(223 228 220);
  --md-sys-color-inverse-on-surface: rgb(45 50 45);
  --md-sys-color-inverse-primary: rgb(48 106 67);
  --md-sys-color-primary-fixed: rgb(178 241 191);
  --md-sys-color-on-primary-fixed: rgb(0 33 13);
  --md-sys-color-primary-fixed-dim: rgb(151 213 165);
  --md-sys-color-on-primary-fixed-variant: rgb(20 81 45);
  --md-sys-color-secondary-fixed: rgb(210 232 211);
  --md-sys-color-on-secondary-fixed: rgb(13 31 18);
  --md-sys-color-secondary-fixed-dim: rgb(182 204 184);
  --md-sys-color-on-secondary-fixed-variant: rgb(56 75 60);
  --md-sys-color-tertiary-fixed: rgb(190 234 246);
  --md-sys-color-on-tertiary-fixed: rgb(0 31 37);
  --md-sys-color-tertiary-fixed-dim: rgb(162 206 217);
  --md-sys-color-on-tertiary-fixed-variant: rgb(32 77 86);
  --md-sys-color-surface-dim: rgb(16 21 16);
  --md-sys-color-surface-bright: rgb(53 58 53);
  --md-sys-color-surface-container-lowest: rgb(10 15 11);
  --md-sys-color-surface-container-low: rgb(24 29 24);
  --md-sys-color-surface-container: rgb(28 33 28);
  --md-sys-color-surface-container-high: rgb(38 43 38);
  --md-sys-color-surface-container-highest: rgb(49 54 49);
}
